.footer{
    border: 1px solid;
    /* background-color: black; */
    padding: 50px;
}


.footer1{
    border: 1px solid;
   display: flex;
}
.fooImg{
    border: 1px solid;
    /* width: max-content; */
    display: flex;
    align-items: center;
    gap: 5px;
margin-bottom: 7%;

}

.fooFirstBox{
border: 1px solid red;
width: 40%;
text-align: left;
}
.fooSecondBox{
    border: 1px solid;
    width: 20%;
    text-align: left;

}
.fooThirdBox{
    border: 1px solid green;
    width: 40%;
    text-align: left;


}