.navbar{
    /* border: 1px solid; */
    /* width: 100%; */
    margin: 0;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg,#ffeaea, rgb(255,255,255),#ffeaea, rgb(255,255,255));
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    /* z-index: 1000; */

}
.navPart1{
    /* border: 1px solid; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.imagebar{
    /* border: 1px solid; */
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 2%; */
}
.pagebar{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
li{
  list-style: none;
  font-size: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.navPart2{
    /* border: 1px solid; */
    width: 25%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.cart{
    /* border: 1px solid gray; */
    width: 10%;
   border-radius: 6px;
   background-color: white;
}
span{
    color: #f29f05;
}

.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    /* top: 22%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1000; */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content p {
    padding: 10px 12px;
    margin: 0;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 