.restFirstBox{
    /* border: 1px solid; */
    display: flex;
    width: 85%;
    margin: 4% auto;
}

.restFirstBox1{
/* border: 1px saddlebrown solid; */
text-align: left;
padding: 4% 4%;
width: 50%;
}
Select{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: gray;
}
.restSecondBox{
    /* border: 1px solid; */
    width: 90%;
    margin: auto;
    height: 5%;
}