.restFirstBox{
    /* border: 1px solid; */
    display: flex;
    width: 85%;
    margin: 4% auto;
}

.restFirstBox1{
/* border: 1px saddlebrown solid; */
text-align: left;
padding: 4% 4%;
width: 50%;
}
Select{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: gray;
}
.restSecondBox{
    border: 1px solid;
    display: inline-block; /* Ensures that the box only takes up the space it needs */
   
    width: 90%;
    margin: auto;
    height: auto;
}
.restSecondBox-img{
    border: 1px solid;
    display: block; /* Make the image a block element */
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; 
}